<%
   @topics=GTopic.order('priority').all
%>
<div class="ctg-nav" id="ctg_nav">
  <h3 class="heading">影视馆主题</h3>
  <ul>
    <% @topics.each do |ctg| %>
        <li>
          <div>
            <span style="font-weight: bold">
            <%= link_to ctg.topic_chs, video_topic_path(ctg.id) %>
          </span>
          </div>
          <div>
            <% ctg.g_subtopics.each do |t| %>
              <span>
              <%= link_to t.topic_chs, video_topic_detail_path(t.id) %>
              </span>
            <% end %></div>
          <div class="clear"></div>
        </li>
    <% end %>
  </ul>
</div>