@charset "utf-8";
/* CSS Document */
/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

a {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #252525;
    margin: 0;
    padding: 0
}

a:hover {
    text-decoration: underline;
    color: #ec5d1e;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

:focus {
    outline: 0
}

[exhide=true] {
    display: none
}

::selection, ::-moz-selection {
    background: #f07746;
    color: #fff
}

/* public */
body {
    font: 13px/1 'Microsoft YaHei'
}

#main, #header, #footer, #top_info, #sub_info {
    width: 960px;
    margin: 0 auto;
    position: relative;
    background: white;
    margin-top: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* main */
.clear {
    clear: both;
    height: 0px;
}

/* header */
#header {
    margin-top: 5px;
    width: 960px;
}

/* topInfo */
.top-info span {
    float: left;
    text-align: center;
    margin: 2px 10px 3px 10px;
}

.top-info .top-info-right {
    margin-right: 0px;
    float: right;
}

.log-sear {
    border: 1px solid #ffffff;
    background: url("earthview_logo.png") no-repeat;
    width: 100%;
    height: 100px;
}

.log-sear .sear {
    position: relative;
    top: 65px;
    margin-right: 10px;
    float: right;
}

.log-sear .sear .sear-text {
    width: 200px;
}

/*category navigator*/
#main .ctg-bar {
    margin-top: 10px;
    float: left;
    width: 235px;
}

.ctg-nav {
    background: #c8c887;
    padding-bottom: 5px;
    /*height: 1044px;*/
}

.ctg-nav .heading {
    background: #c8c887;
    line-height: 36px;
    font-size: 18px;
    padding: 4px 10px;
}

.ctg-nav li {
    margin: 5px 3px 0px 3px;
    padding: 5px 5px 6px 6px;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.ctg-nav li span {
    padding: 2px 5px;
    float: left;
    display: block;
    line-height: 18px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/*video info*/
#main .vd-cnt {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #c8c887;
    position: relative;
    float: right;
    width: 690px;
    /*height: 1027px;*/
}

.breadcrumb {
    display: block;
    clear: both;
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 1px dashed #A6A6A6;
    margin-bottom: 10px;
}

.breadcrumb li {
    float: left;
}

.breadcrumb >.right li {
    margin-right: 10px;
    cursor: pointer;
}

.vidbox li {
    height: 145px;
    width: 160px;
    display: block;
    overflow: hidden;
    float: left;
}

.v {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: inset 0 -1px #f2f2f2;
    border: solid 1px #e7e7e7;
    background-color: #fff;
}

.v .preview {
    margin: 10px 10px 4px 10px;
    height: 100px;
    display: block;
    background: #000;
    overflow: hidden;
    text-align: center;
}

.v .preview img {
    height: 100px;
    width: 138px;
}

.vidbox li {
    line-height: 18px;
    padding: 5px 6px 4px 6px;
}

.vidbox li span {
    padding: 3px 0px;
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-ovverflow: ellipsis;
    text-overflow: ellipsis;
}

.vd-list .topic-tag {
    height: 24px;
    overflow: hidden;
    line-height: 24px;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 5px;
}

.vd-list .topic-tag i {
    display: block;
    height: 20px;
    padding: 0 0 0 5px;
    font-size: 15px;
    color: #555;
    font-weight: 700;
    font-family: "microsoft yahei", simhei;
    font-style: normal;
    float: left;
}

.vd-list .topic-tag .more {
    display: block;
    padding: 0 5px 0 0;
    float: right;
}

/* #sub_info*/
.sub-info {
    margin-top: 5px;
    text-align: center;
}

.nav_bar {
    padding: 20px 10px 10px 0;
    float: right;
    width: 20%;
}

.nav_bar li {
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}

.nav_bar a {
    cursor: pointer;
}

.topic_name {
    line-height: 18px;
    font-size: 16px;
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}

/*video view*/
.media .m-t h3 {
    font-size: 18px;
    line-height: 28px;
    height: 36px;
}

.media .m-t span {
    line-height: 18px;
    font-size: 13px;
    padding-bottom: 5px;
}

.media .m-p {
    background-color: #000000;
    margin: 10px 25px;
    height: 480px;
    width: 640px;
}

.media .m-mtr {
    height: 24px;
    width: 100%;
    line-height: 24px;
}

.media .m-mtr span {
    padding-left: 18px;
}

.media .m-info {
    line-height: 24px;
    padding: 0px 10px;
}

.media .m-info .ml {
    width: 80px;
    text-align: right;
    padding-right: 5px;
}

/* footer */
#footer {
    padding: 5px 0;
    border: 1px solid #c8c887;
    display: block;
    text-align: center;
    line-height: 18px;
}

/*video index*/
.tpc-gp {
    float: left;
    width: 100%;
}

.tpc-gp > span {
    display: block;
    margin: 10px 0 0 20px;
}

.tpc-gp a {
    cursor: pointer;
}

.tpc-gp ul {
    margin: 0 12px;
}

.tpc-gp li {
    margin: 10px;
    float: left;
    width: 210px;
    background-color: #DDEEF6;
    border: 1px solid #DDEEF6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.tpc-gp li span {
    /*font-size: 13px;*/
    padding: 3px 2px;
    margin: 5px 0px;
    line-height: 18px;

    float: left;
}

.tpc-nm {
    line-height: 18px;
    font-size: 16px;
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}

/*pagination*/
.digg {
    clear: both;
    text-align: center;
    width: 690px;
}

.digg-p {
    margin:0 auto;
    display: inline-block;
    background: white;
    cursor: default;
    /* self-clearing method: */
}

.digg-p a, .digg-p span, .digg-p em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.digg-p .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}

.digg-p .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
}

.digg-p a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
}

.digg-p a:hover, .digg-p a:focus {
    color: #000033;
    border-color: #000033;
}

.digg-p .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.digg-p .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
}

.digg-p:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .digg-p {
    height: 1%;
}

*:first-child + html .digg-p {
    overflow: hidden;
}